@page
@model Airline.Pages.ClientPayment.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Paymnt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Paymnt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.paymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.paymentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Payment.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
